:root {

    /* BACKGROUND COLOR */
    --Header-color: rgba(0, 102, 255, 0.151);
    --Header-background: #e6f4fc;

    /* TEXT COLOR */
    --Header-Title-Color: #3858d6;
    --Header-Subtitle-Color: #79869c;
    --Section-Title-Color: #1f3e72;
    --Small-text: #1d2a6f;

    /* ELEMENTS COLORS */

    /* ICONS COLORS */
    --Icons-color: #ffe81c;

}

header {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--Header-background); */
    background-position: center right;
    background: linear-gradient(to left, #99e7f58f, #99e7f59f 45%, #fff 47%, #ffffff 122%);
}

.HeaderTag {
    /* width: 80%; */
    margin: 0 auto;
    background-color: var(--Header-background);
}

nav {
    width: 70%;
    text-align: center;

}

nav>ul>li {
    display: inline-block;
    text-align: center;
    margin: 14px;
    font-size: 20px;
    font-family: sans-serif;
    color: var(--Header-Subtitle-Color);
}

.actions {
    width: 15%;
}

.actions * {
    padding: 10px;
}

li>a {
    color: inherit;
    text-decoration: none !important;
}

#logo {
    width: 15%;

}

.TituloLogo {
    color: var(--Section-Title-Color);
    font-size: 35px;
    font-weight: bold;
    text-decoration: solid;
    margin-left: 10%;
}

.BotonHeader {
    color: white;
    padding: 14px;
    background-color: rgba(0, 38, 255, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Title {
    color: var(--Section-Title-Color);
    font-family: sans-serif;
    font-size: 54px;
    text-align: left;
}
.SubTitle{
    color: var(--Section-Title-Color);
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}



.Second-Section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.2;
}

.Second-Section>div {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    filter: grayscale(100%);
}



.TextoPrincipal{
    color:#79869c;
}
.card-body{
    padding-top: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.IconosCartas > span{
    color: rgba(0, 0, 255, 0.747);
    background-color: #cccfff63;
    padding: 5px 5px;
    margin: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card{
    border: 0 !important;
}
.NormalText{
    color: var(--Section-Title-Color);
}
.BotonCard{
    background-color: #cccfff63 !important;
    padding: auto 10px auto 10px !important;
    color:blue !important;
    
}
.EmergencyContact{
    background-image: url("./telephone-Spanish.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 500px;
    width: 100%;
}
.Listado{
    padding-bottom: 0 !important;
}
.TamañoListado{
    font-size: 15px !important;

}
.personThinking{
    background-image: url("./personthinking.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    /* background-size: 700px; */
    width: 100%;
}

/* .First-Section {
    background-image: url("./doctor.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 500px;
    width: 100%;
    height: 100%;
} */

.Second-Section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.2;
}

.Second-Section>div {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    filter: grayscale(100%);
}

.Container-small-text {
    display: flex;
    width: 100%;
    padding: 4% 0;
    column-gap: 5rem;
    justify-content: center;
}

.small-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--Small-text);
}

.small-text>span {
    color: var(--Icons-color);
    background-color: #fff2cca6;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.small-text>p {
    margin-top: unset;
    margin-bottom: unset;
}

.Container-First-Section {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10% 0px 1.5%;
}

.Subcontainer-First-Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.Subcontainer-First-Section>p {
    font-size: 18px;
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    width: 65%;
    text-align: initial;
    line-height: 1.6;
    font-weight: bold;
    color: var(--Header-Subtitle-Color);
}

.imagen-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imagen-section > img {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    width: 750px;
    height: 650px;
    opacity: 80%;
    top: 10%;
    z-index: -1;
}

.Subcontainer-small-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--Small-text);
}

.Subcontainer-small-text>p {
    margin-top: unset;
    margin-bottom: unset;
}

/* .Subcontainer-small-text>span {
    font-size: 18px;
    background-color: #3f51b554;
    padding: 5px 5px;
    margin: 0 12px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
} */

.Container-Options {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 130px;
    margin: 0 18%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    width: 70%;
    color: var(--Header-Subtitle-Color);
}

.SubOption {
    display: flex;
    align-items: center;
}

.Container-lbl {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 2% 23%;
    font-size: 20px;
    color: var(--Section-Title-Color);
    font-weight: bold;
}

.material-icons {
    font-size: 16px;
    background-color: #3f51b554;
    color: var(--Small-text);
    padding: 5px 5px;
    margin: 0 12px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

.SubOption>p {
    margin-top: unset;
    margin-bottom: unset;
}

.Container-Options>.BotonHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 30%;
    border: 1 px solid var(--Small-text);
}